<StorageServerInstance TCPPort="4050" InstanceName="Default">
   <LoadAssemblies>
      <Assembly FullName="PersistenceLayerRunTime, Version=1.0.2.0, Culture=neutral, PublicKeyToken=8cd83e51ed2de794"/>
      <Assembly FullName="MSSQLPersistenceRunTime, Version=1.0.2.0, Culture=neutral, PublicKeyToken=471d559a8ccde011"/>
      <Assembly FullName="OraclePersistenceRunTime, Version=1.0.2.0, Culture=neutral, PublicKeyToken=eec948c43c1c4c13"/>
      <Assembly FullName="MetaDataLoadingSystem, Version=1.0.2.0, Culture=neutral, PublicKeyToken=c9551c85762dade5"/>
   </LoadAssemblies>
</StorageServerInstance>
