<configuration>
  <system.runtime.remoting>
    <application>
       <channels> 
           <channel ref="tcp">
	       <clientProviders>
		   <provider type="PersistenceLayerRunTime.Remoting.Sinks.ClientSinkProvider,PersistenceLayerRunTime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8cd83e51ed2de794" />
		   <formatter ref="binary" />
	      </clientProviders>
            </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>