<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net45" />
  <package id="VSMSDK.ArchitectureTools.Extensibility.Uml" version="14.0.23107.0" targetFramework="net45" />
  <package id="VSMSDK.ArchitectureTools.TextTransformation" version="14.023107.0" targetFramework="net45" />
  <package id="VSMSDK.Modeling.Sdk.14.0" version="14.023107.0" targetFramework="net40" />
  <package id="VSMSDK.Modeling.Sdk.Diagrams.14.0" version="14.023107.0" targetFramework="net40" />
  <package id="VSMSDK.Modeling.Sdk.Shell.14.0" version="14.023107.0" targetFramework="net45" />
  <package id="VSMSDK.Uml" version="14.0.23107.0" targetFramework="net45" />
  <package id="VSMSDK.Uml.Interfaces" version="14.023107.0" targetFramework="net45" />
</packages>