<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IModulePublisher"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/ModulePublisherService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IModulePublisher" contract="ServiceReference.IModulePublisher" name="WSHttpBinding_IModulePublisher">
                <identity>
                    <servicePrincipalName value="host/MRocket"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
